<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Course 1</title>
</head>
<nav>
    <div class="nav-title">
        <a href="/index.html">Learnet</a>
    </div>
    <div class="nav-links">
        <div class="nav-bar-items">
            <ul class="nav-menu">
                <li><a href="/index.html" class="nav-link">Home</a></li>
                <li><a href="manycourse.html" class="nav-link">Courses</a></li>
                <!-- <li><a href="#" class="nav-link">Tests</a></li> -->
                <li><a href="/contact.html" class="nav-link">Contact</a></li>
                <li class="login"><a href="login.html" class="nav-link">Log-In</a></li>
                <!-- <li><a href="#"><img src="/img/profile.jpg" alt="Profile Image"></a></li> -->
            </ul>
        </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>

<body>
    <div class="read-course-container">
        <div class="read-course">
            <div class="chapter-list-container">
                <div class="chapter-list">
                    <ul class="chap-menu">
                        <li><a href="#" class="chap-link">Chapter 1</a></li>
                        <li><a href="#" class="chap-link">Chapter 2</a></li>
                        <li><a href="#" class="chap-link">Chapter 3</a></li>
                        <li><a href="#" class="chap-link">Chapter 4</a></li>
                        <li><a href="#" class="chap-link">Chapter 5</a></li>
                        <li><a href="#" class="chap-link">Chapter 1</a></li>
                        <li><a href="#" class="chap-link">Chapter 2</a></li>
                        <li><a href="#" class="chap-link">Chapter 3</a></li>
                        <li><a href="#" class="chap-link">Chapter 4</a></li>
                        <li><a href="#" class="chap-link">Chapter 5</a></li>
                        <li><a href="#" class="chap-link">Chapter 1</a></li>
                        <li><a href="#" class="chap-link">Chapter 2</a></li>
                        <li><a href="#" class="chap-link">Chapter 3</a></li>
                        <li><a href="#" class="chap-link">Chapter 4</a></li>
                        <li><a href="#" class="chap-link">Chapter 5</a></li>
                        <li><a href="#" class="chap-link">Chapter 1</a></li>
                        <li><a href="#" class="chap-link">Chapter 2</a></li>
                        <li><a href="#" class="chap-link">Chapter 3</a></li>
                        <li><a href="#" class="chap-link">Chapter 4</a></li>
                        <li><a href="#" class="chap-link">Chapter 5</a></li>
                    </ul>
                </div>
            </div>
            <div class="read-chapter">
                <div class="read-chapter-title">
                    <h1>Chapter 1</h1>
                </div>
                <div class="read-chapter-body">         
                    <pre>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos, beatae quod? At ut recusandae illo earum fuga nemo culpa veritatis nostrum doloremque atque molestiae, in id, deleniti minima architecto expedita.

                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad dolorum quidem quae. Inventore laborum explicabo numquam aut ab. Eligendi quaerat cum debitis autem recusandae earum impedit facere tenetur nulla ratione!

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, praesentium nisi! Repellendus maxime laboriosam optio ipsa adipisci nam expedita totam praesentium vitae eius amet error excepturi labore, fugit aperiam nesciunt.

                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam provident voluptatum fugiat temporibus incidunt, quisquam et vel ad eveniet aspernatur, praesentium saepe iusto dolore perspiciatis. Ipsa at voluptas sit quia?

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem amet vel hic dignissimos numquam inventore quae libero eius eligendi laboriosam facere minima magnam minus officiis, tempore, eaque a laborum dolorum!

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sunt ducimus molestiae mollitia ad corrupti ex animi corporis nam! Recusandae assumenda cupiditate tempore, officia porro natus temporibus dolor consequuntur impedit.

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, officia cupiditate iusto quos maxime reiciendis nobis architecto, quod ratione ut praesentium nihil voluptatum, fugit at dolore vitae. Voluptate, optio magnam!
                    </pre>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/script.js"></script>
</html>