<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Course 1</title>
</head>
<nav>
    <div class="nav-title">
        <a href="/index.html">Learnet</a>
    </div>
    <div class="nav-links">
        <ul class="nav-menu">
            <li><a href="/index.html" class="nav-link">Home</a></li>
            <li><a href="manycourse.html" class="nav-link">Courses</a></li>
            <!-- <li><a href="#" class="nav-link">Tests</a></li> -->
            <li><a href="/contact.html" class="nav-link">Contact</a></li>
            <li class="login"><a href="login.html" class="nav-link">Log-In</a></li>
            <!-- <li><a href="#"><img src="/img/profile.jpg" alt="Profile Image"></a></li> -->
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>

<body>
    <div class="container">
        <div class="single-course">
            <div class="single-course-heading">
                <div class="single-course-title">
                    <div>
                        <img src="/img/science-book.png" alt="science-book">
                    </div>
                    <div>
                        <h1>Course Title</h1>
                    </div>
                </div>
                <div>
                    <a href="course.html" class="enroll">Enroll Now</a>
                </div>
            </div>
            <div class="course-description">
                <div class="descrip">
                    <div>
                        <h1>Course Description:</h1>
                    </div>
                    <div>
                        <pre>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam corporis maxime unde. Eius deserunt quis at iste molestias quibusdam velit cumque perspiciatis, incidunt illo accusantium. Ab reprehenderit laudantium magni aperiam temporibus laboriosam, delectus quidem beatae ipsa vel repellendus laborum debitis voluptatibus sint ad sequi perferendis est consequatur doloremque porro obcaecati?

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa velit atque fugit ratione ad laboriosam rerum provident nesciunt, deserunt ipsam! Nam iste eaque harum! Explicabo, odit. Eius repudiandae officiis porro.

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corporis dolor tempore quas unde odit aliquid natus blanditiis eius, sint molestiae vero voluptate fugiat minima, accusamus provident laboriosam facere voluptatibus quaerat exercitationem aperiam animi! Velit tenetur officia voluptatum porro iure!

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati officiis, nisi commodi natus consectetur est quod eius recusandae hic pariatur esse ipsa tempora ipsum accusantium reprehenderit praesentium dolorum aperiam consequuntur, saepe ullam numquam, nobis nulla ducimus voluptatum. Eligendi, magni. Nulla animi illo possimus earum impedit, accusantium recusandae laboriosam dolores quaerat explicabo et praesentium tenetur natus consectetur, porro labore, facilis neque.
                        </pre>
                    </div>
                </div>
                <div class="author">
                    <div>
                        <h3>Author:</h3>
                        <p>The SubMish</p>
                    </div>
                    <div>
                        <a href="course.html" class="enroll">Enroll Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="img">
        <img src="/img/logo.png" alt="Learnet Company Logo">
    </div>
    <div class="foot">
        <div class="footer-title">
            <h3>Social link:</h3>
        </div>
        <div>
            <div>
                <img src="/img/fb.png" alt="Nepal Padhcha Facebook">
                <a href="#">Facebook</a>
            </div>
            <div>
                <img src="/img/yt.png" alt="Nepal Padhcha YouTube">
                <a href="#">YouTube</a>
            </div>
            <div>
                <img src="/img/twitter.png" alt="Nepal Padhcha Twitter">
                <a href="#">Twitter</a>
            </div>
            <div>
                <img src="/img/email.png" alt="Nepal Padhcha Twitter">
                <a href="#">E-mail</a>
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="footer-title">
            <h3>Courses:</h3>
        </div>
        <div>
            <div>
                <img src="/img/book1.png" alt="Nepal Padhcha Facebook">
                <a href="#">Course <span>1</span></a>
            </div>
            <div>
                <img src="/img/book2.png" alt="Nepal Padhcha YouTube">
                <a href="#">Course <span>2</span></a>
            </div>
            <div>
                <img src="/img/book3.png" alt="Nepal Padhcha Twitter">
                <a href="#">Course <span>3</span></a>
            </div>
            <div>
                <img src="/img/book4.png" alt="Nepal Padhcha Twitter">
                <a href="#">Course <span>4</span></a>
            </div>
        </div>
    </div>
</footer>

<script src="/js/script.js"></script>

</html>