<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Course 1</title>
</head>
<nav>
    <div class="nav-title">
        <a href="/index.html">Learnet</a>
    </div>
    <div class="nav-links">
        <div class="nav-bar-items">
            <ul class="nav-menu">
                <li><a href="/index.html" class="nav-link">Home</a></li>
                <li><a href="manycourse.html" class="nav-link">Courses</a></li>
                <!-- <li><a href="#" class="nav-link">Tests</a></li> -->
                <li><a href="/contact.html" class="nav-link">Contact</a></li>
                <li class="login"><a href="login.html" class="nav-link">Log-In</a></li>
                <!-- <li><a href="#"><img src="/img/profile.jpg" alt="Profile Image"></a></li> -->
            </ul>
        </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>

<body>
    <div class="read-course-container">
        <div class="test-page">
            <div class="chapter-list-container">
                <div class="chapter-list">
                    <ul class="chap-menu">
                        <li><a href="#" class="chap-link">Chapter 1</a></li>
                        <li><a href="#" class="chap-link">Chapter 2</a></li>
                        <li><a href="#" class="chap-link">Chapter 3</a></li>
                        <li><a href="#" class="chap-link">Chapter 4</a></li>
                        <li><a href="#" class="chap-link">Chapter 5</a></li>
                        <li><a href="#" class="chap-link">Chapter 1</a></li>
                        <li><a href="#" class="chap-link">Chapter 2</a></li>
                        <li><a href="#" class="chap-link">Chapter 3</a></li>
                        <li><a href="#" class="chap-link">Chapter 4</a></li>
                        <li><a href="#" class="chap-link">Chapter 5</a></li>
                        <li><a href="#" class="chap-link">Chapter 1</a></li>
                        <li><a href="#" class="chap-link">Chapter 2</a></li>
                        <li><a href="#" class="chap-link">Chapter 3</a></li>
                        <li><a href="#" class="chap-link">Chapter 4</a></li>
                        <li><a href="#" class="chap-link">Chapter 5</a></li>
                        <li><a href="#" class="chap-link">Chapter 1</a></li>
                        <li><a href="#" class="chap-link">Chapter 2</a></li>
                        <li><a href="#" class="chap-link">Chapter 3</a></li>
                        <li><a href="#" class="chap-link">Chapter 4</a></li>
                        <li><a href="#" class="chap-link">Chapter 5</a></li>
                    </ul>
                </div>
            </div>
            <div class="give-test">
                <div class="read-chapter-title">
                    <h1>Chapter 1</h1>
                </div>
                <div class="read-chapter-body">
                    <form action="#" method="post">
                        <div class="questions">
                            <div>
                                <div class="question">
                                    <div class="queNo">
                                        <h1>Question 1</h1>
                                    </div>
                                    <div class="queBody">
                                        <div class="mainQue">
                                            <h3>What is your name?</h3>
                                        </div>
                                        <div class="options">
                                            <input type="radio" name="option" id="option1" value="John">
                                            <label for="option1">John</label>
                                        </div>
                                        <div class="options">
                                            <input type="radio" name="option" id="option2" value="Johny">
                                            <label for="option2">Johny</label>
                                        </div>
                                        <div class="options">
                                            <input type="radio" name="option" id="option3" value="Cena">
                                            <label for="option3">Cena</label>
                                        </div>
                                        <div class="options">
                                            <input type="radio" name="option" id="option4" value="Kenedy">
                                            <label for="option4">Kenedy</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="question">
                                    <div class="queNo">
                                        <h1>Question 1</h1>
                                    </div>
                                    <div class="queBody">
                                        <div class="mainQue">
                                            <h3>What is your name?</h3>
                                        </div>
                                        <div class="options">
                                            <input type="radio" name="option" id="option1" value="John">
                                            <label for="option1">John</label>
                                        </div>
                                        <div class="options">
                                            <input type="radio" name="option" id="option2" value="Johny">
                                            <label for="option2">Johny</label>
                                        </div>
                                        <div class="options">
                                            <input type="radio" name="option" id="option3" value="Cena">
                                            <label for="option3">Cena</label>
                                        </div>
                                        <div class="options">
                                            <input type="radio" name="option" id="option4" value="Kenedy">
                                            <label for="option4">Kenedy</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/script.js"></script>

</html>